<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/Resources/profile_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <h1>Welcome, <%= user.name %> to San Francisco</h1>
    </header>
    <div class="container">
        <div class="left-section">
            <div class="profile-pic">
                <img src="/default-profile.png" alt="Profile Picture">
                <input type="file" name="profile-picture" id="profile-picture">
            </div>
            <div class="user-details">
                <h2><%= user.name %></h2>
                <ul>
                    <li><a href="#">Account Details</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
        </div>
        <div class="right-section">
            <table>
                <thead>
                    <tr>
                        <th>Places</th>
                        <th>Date</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody id="places-table-body">
                    <tr>
                        <td>
                            <select>
                                <option>Golden Gate Bridge</option>
                                <option>Lombard Street</option>
                                <option>Twin Peaks</option>
                                <option>Union Square</option>
                                <option>Cable Car</option>
                                <option>Alcatraz</option>
                                <option>Fisherman's Wharf</option>
                                <option>Painted Ladies</option>
                                <option>Other</option>
                            </select>
                        </td>
                        <td><input type="date"></td>
                        <td class="star-rating">
                            <span class="star">&#9734;</span>
                            <span class="star">&#9734;</span>
                            <span class="star">&#9734;</span>
                            <span class="star">&#9734;</span>
                            <span class="star">&#9734;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button id="addRowButton">Add Row</button>
        </div>
    </div>
    <script src="../public/profile.js"></script>
</body>
</html>